---
import NavLink from "./NavLink.astro";

interface Props {
   redirNavigation?: boolean;
}
// styles for NAV - large display:
const hoverLink =
   "group text-secondary transition-all duration-300 ease-in-out font-bold cursor-pointer Xpb-2";

const hoverSpan =
   "pb-2 bg-left-bottom bg-gradient-to-r from-pink-500 to-secondary bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out";

// styles for NAV - small display:
const linkStyle =
   "block pl-10 py-3 px-6 transition-all duration-300 ease-in-out font-bold cursor-pointer hover:pl-8";

const { redirNavigation = false } = Astro.props;

const baseEnvValue = import.meta.env.BASE_URL;
const baseUrl = baseEnvValue == "/" ? "" : baseEnvValue;
---

<div class='px-layout fixed w-full z-20 shadow-md bg-primary text-secondary'>
   <nav
      class='max-w-layoutMax mx-auto flex relative justify-between items-center Xpy-4 h-20 main-container'
   >
      <!-- LOGO starts HERE -->
      <div class='cursor-pointer transition font-bold' data-scrollto='js-home'>
         <NavLink
            style={hoverLink}
            scrollLocation='js-home'
            redirNavigation={redirNavigation}
            link={baseUrl + "/"}
         >
            Yvona Dobrovská <br />
            <span class={hoverSpan}>Dopravní psychologie</span>
         </NavLink>
      </div>

      <!-- LOGO ends HERE -->

      <!-- WRAPPER STARTS here -->
      <div class='js-nav group'>
         <!-- BURGER ICON starts here -->
         <div class='nav__burger-menu js-burger-nav sm:hidden cursor-pointer'>
            <div class='burger-line bg-secondary w-8 h-[3px] transition-all'>
            </div>
            <div
               class='burger-line bg-secondary w-8 h-[3px] my-[5px] transition-all'
            >
            </div>
            <div class='burger-line bg-secondary w-8 h-[3px] transition-all'>
            </div>
         </div>
         <!-- BURGER ICON ends here -->

         <!-- NAV - small display/mobile nav starts HERE -->
         <div
            class='w-60 bg-primary group-[.nav--active]:-right-16 transition-all duration-300 sm:hidden absolute top-20 rounded-b-xl -right-96 shadow-secondary shadow-md divide-y-[1px] divide-secondary overflow-hidden'
         >
            <NavLink
               link={baseUrl + "/?redir=about"}
               scrollLocation='js-about'
               style={linkStyle}
               redirNavigation={redirNavigation}
            >
               O vyšetření
            </NavLink>
            <NavLink
               link={baseUrl + "/?redir=about"}
               scrollLocation='js-contact'
               style={linkStyle}
               redirNavigation={redirNavigation}
            >
               Kontakt
            </NavLink>
         </div>
         <div
            class='absolute
               right-0
               top-20
               shadow-md
               shadow-white
               border-0
               border-slate-400
               divide-y-2
               divide-green-500'
         >
         </div>
         <!-- NAV - small display/mobile nav ends HERE -->
      </div>
      <!-- WRAPPER ENDS here -->

      <!-- NAV - bigger display nav starts HERE -->
      <div class='hidden sm:flex space-x-4'>
         <NavLink
            link={baseUrl + "/?redir=about"}
            scrollLocation='js-about'
            style={hoverLink}
            redirNavigation={redirNavigation}
         >
            <span class={hoverSpan}> O vyšetření </span>
         </NavLink>
         <NavLink
            link={baseUrl + "/?redir=contact"}
            scrollLocation='js-contact'
            style={hoverLink}
            redirNavigation={redirNavigation}
         >
            <span class={hoverSpan}> Kontakt</span>
         </NavLink>
      </div>
   </nav>
   <!-- NAV - bigger display nav ends HERE -->
</div>

<script>
   // BURGER MENU SETUP
   const burgerIcon = document.querySelector(".js-burger-nav");
   const navElement = document.querySelector(".js-nav");

   // const activeClass = "active";

   burgerIcon?.addEventListener("click", (e) => {
      console.log("klick burger");
      navElement?.classList.toggle("nav--active");
      // navElement?.classList.toggle(activeClass);
      e.stopPropagation();
   });

   // CLOSE NAV MENU when clicking somewhere on page
   window.addEventListener("click", () => {
      navElement?.classList.remove("nav--active");
      // navElement?.classList.remove(activeClass);
   });
</script>
<style>
   /* BURGER ICON animation */
   .nav--active .burger-line:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px);
   }
   .nav--active .burger-line:nth-child(2) {
      opacity: 0%;
   }
   .nav--active .burger-line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
   }
</style>
